# Electron apps
google-chrome/
YouTube\ Music/

# Development & Package Managers
npm/
yay/
go/

# App State & Workspaces
obsidian/
zsh/.zcompdump
zsh/plugins/
gh/
bluetuith/
nordvpn/
Bitwarden/
Code/
.geminiignore

# System & Desktop Environment
pulse/
systemd/
dconf/
gtk-3.0/
gtk-4.0/
celluloid/
mpv/
gthumb/
wireplumber/
mimeapps.list
ibus/

# Misc
simple-update-notifier/
zen/
todo.md
